@media (max-width: 767px) {
    .responsive-div {
      flex-direction: column !important;
    }
  }
  
/* Mobile devices (width under 767px) */
@media only screen and (max-width: 767px) {
    .my-title {
        font-size: 20px;
    }
    .data-content {
        font-size: 14px;
    }
    .prediction {
        width: 95vw;
    }
    .result {
        width: 95vw;
        border: 2px solid #ccc;
    }

}

/* Desktop devices (width over 768px) */
@media only screen and (min-width: 768px) {
    .my-title {
        font-size: 3vw;
    }
    .data-content {
        font-size: 1vw;
    }
    .prediction {
        width: 60vw;
    }
    .result {
        width: 60vw;
        border: 2px solid #ccc;
    }
}
